/*ENCABEZADO*/
.navbar-green, .color1, .color3 {
	background-color: #04B431;
}
.navbar-header, .navbar-nav {
	margin: 2% 0;
}
.icon-bar {
	border: .2em solid white;
}
ul.navbar-right li a:hover, .opcion:hover, .btn-bla:hover, .opcion2:hover {
	background-color: #4B8A08 !important;
}
.jumbotron {
	color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url(../img/carousel-bg.jpg);
}
/*COLORES DE FONDO*/
.color {
	background-color: #0B243B;
}
.color2 {
	background-color: #B45F04;
}
.color4 {
	background-color: white;
	color: black;
}
/*COLORES DE LETRAS*/
.co-Wh, .btn-bla, td button, .color2 {
	color: white !important;
}
/*COLORES DE PALETA*/
.c-1 {
	background-color: #69D2E7;
}
.c-2 {
	background-color: #A7DBDB;
}
.c-3 {
	background-color: #E0E4CC;
}
.c-4 {
	background-color: #F38630;
}
.c-5 {
	background-color: #FA6900;
}
.c-6 {
	background-color: #E94C6F;
}
.c-7 {
	background-color: #542733;
}
.c-8 {
	background-color: #5A6A62;
}
.c-9 {
	background-color: #C6D5CD;
}
.c-10 {
	background-color: #FDF200;
}
.c-11 {
	background-color: #DB3340;
}
.c-12 {
	background-color: #E8B71A;
}
.c-13 {
	background-color: #F7EAC8;
}
.c-14 {
	background-color: #1FDA9A;
}
.c-15 {
	background-color: #28ABE3;
}
.c-16 {
	background-color: #588C73;
}
.c-17 {
	background-color: #F2E394;
}
.c-18 {
	background-color: #F2AE72;
}
.c-19 {
	background-color: #D96459;
}
.c-20 {
	background-color: #8C4646;
}
.c-21 {
	background-color: #D0C91F;
}
.c-22 {
	background-color: #85C4B9;
}
.c-23 {
	background-color: #008BBA;
}
.c-24 {
	background-color: #DF514C;
}
.c-25 {
	background-color: #DC403B;
}
[class*=" c-"] {
	padding-bottom: 8%;
	margin-bottom: 1%;
}
.bicolor {
	width: 50%;
	padding: 5% 0;
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#0B173B), to(#088A85));
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.bicolor:hover {
	transform: rotate(270deg);
	-webkit-transform: rotate(45deg);
}
.opcion {
	padding: 2% 5%;
}
.opcion h3:hover, blockquote footer {
	color: #B45F04;
}
/*BOTONES-ICONOS*/
.btn-bla {
	margin-bottom: 5% !important;
}
.btn-bla, td button {
	background-color: #2F0B3A;
	font-size: 1em !important;
}
.btn-bla:hover {
	color: #2F0B3A!important;
}
.icon1 {
	padding-right: 3%;
}
.icon2 {
	padding-right: 2%;
	color: white;
}
.icon1:hover, .icon2:hover {
	color: #0B610B;
}
/*BARRAS DE PROGRESO*/
.progress-1 {
	width: 95%;
}
.progress-2 {
	width: 90%;
}
.progress-3 {
	width: 70%;
}
.progress-4 {
	width: 80%;
}
.progress-5 {
	width: 85%;
}
/*SEPARACIONES*/
h1+hr {
	width: 20%;
}
.division {
	border: 1px dashed #0B3B0B;
}
/*OFERTAS*/
table {
	border: 1px solid #4B8A08;
}
table:hover {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	border: 2px solid #B45F04;
}
/*CITA/DIRECCIÓN*/
address {
	padding:0 5%;
}
blockquote {
	width: 60%;
}
/*SECCIÓN REDES SOCIALES*/
.social {
	background-image: url(../img/img-divider-img.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
/*FOOTER*/
.fondo {
	background-color: green;
}
.condicion {
	display: inline-block;
}
/*MARGENES*/
.mar-3 {
	margin-top: 3%;
}
.mar-5 {
	margin-top: 5%;
}
.mar-10 {
	margin-top: 10%;
}
.mar-15 {
	margin-top: 15%;
}
.mab-10 {
	margin-bottom: 10%;
}