@media screen and (max-width: 990px) { /*VISTA MAX. TABLETS*/
	.title {
		font-size: 2em;
		margin-top: 10%;
	}
	.descrip {
		opacity: 0;
		font-size: 1% !important;
	}
	.image {
		width: 100%;
	}
	.opcion {
		margin-bottom: 5%;
		padding: 3% 2%;
	}
	.opcion2 {
		padding: 2% 7%;
	}
	h3+hr {
		width: 50%;
	}
	.btn-bla {
		padding: 3% 5%;
	}
}
@media screen and (max-width: 768px) { /*VISTA MAX. CELULAR*/
	.jumbotron {
		background-position: 0% 80%;
	}
}
@media screen and (min-width: 990px) { /*VISTA MAX. CELULAR*/
	.jumbotron {
		background-size: 100%;
	}
	.btn-bla {
		padding: 2% 3%;
	}
}